<section class="quiz_options__wrapper">
  <div class="quiz_options">
    <form
      [formGroup]="quizOptionsFormGroup"
      (ngSubmit)="onChangeOptions()"
      class="quiz_options__form"
    >
      <div
        formGroupName="radical"
        class="quiz_options__option quiz_options__option--blue"
      >
        <div class="quiz_options__controls">
          <label
            class="quiz_options__label quiz_options__label--big"
            for="radical"
            >Radical</label
          >
          <input
            formControlName="radical"
            class="quiz_options__input"
            type="checkbox"
            name="radical"
            id="radical"
            value="radical"
          />
        </div>
        <div class="quiz_options__details">
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="meanings">Meanings</label>
            <input
              formControlName="meanings"
              class="quiz_options__input"
              type="checkbox"
              name="meanings"
              id="meanings"
              value="meanings"
            />
          </div>
        </div>
      </div>
      <div
        formGroupName="kanji"
        class="quiz_options__option quiz_options__option--pink"
      >
        <div class="quiz_options__controls">
          <label
            class="quiz_options__label quiz_options__label--big"
            for="kanji"
            >Kanji</label
          >
          <input
            formControlName="kanji"
            class="quiz_options__input"
            type="checkbox"
            name="kanji"
            id="kanji"
            value="kanji"
          />
        </div>
        <div class="quiz_options__details">
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="meanings">Meanings</label>
            <input
              formControlName="meanings"
              class="quiz_options__input"
              type="checkbox"
              name="meanings"
              id="meanings"
              value="meanings"
            />
          </div>
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="onyomi">Onyomi</label>
            <input
              formControlName="onyomi"
              class="quiz_options__input"
              type="checkbox"
              name="onyomi"
              id="onyomi"
              value="onyomi"
            />
          </div>
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="kunyomi">Kunyomi</label>
            <input
              formControlName="kunyomi"
              class="quiz_options__input"
              type="checkbox"
              name="kunyomi"
              id="kunyomi"
              value="kunyomi"
            />
          </div>
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="nanori">Nanori</label>
            <input
              formControlName="nanori"
              class="quiz_options__input"
              type="checkbox"
              name="nanori"
              id="nanori"
              value="nanori"
            />
          </div>
        </div>
      </div>
      <div
        formGroupName="vocabulary"
        class="quiz_options__option quiz_options__option--violet"
      >
        <div class="quiz_options__controls">
          <label
            class="quiz_options__label quiz_options__label--big"
            for="vocabulary"
            >Vocabulary</label
          >
          <input
            formControlName="vocabulary"
            class="quiz_options__input"
            type="checkbox"
            name="vocabulary"
            id="vocabulary"
            value="vocabulary"
          />
        </div>
        <div class="quiz_options__details">
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="meanings">Meanings</label>
            <input
              formControlName="meanings"
              class="quiz_options__input"
              type="checkbox"
              name="meanings"
              id="meanings"
              value="meanings"
            />
          </div>
        </div>
      </div>
      <button class="quiz_options__submit_button" type="submit">Save</button>
    </form>
  </div>
</section>
