.quiz_options__wrapper {
  position: absolute;
  top: 0;
  left: 50%;

  height: 15vh;
  min-height: 250px;
  width: 320px;

  margin: 0 auto;
  border: 3px solid black;
  background-color: rgb(177, 177, 177);

  color: white;
}

.quiz_options {
  height: 87%;
}

.quiz_options__form {
  display: flex;
  flex-wrap: wrap;

  height: 100%;
}

.quiz_options__option {
  flex-basis: calc(100% / 3);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 55%;
}

.quiz_options__option--wide {
  flex-basis: 100%;
  height: 30%;

  flex-direction: row;

  border-bottom: 3px solid #000;
}

.quiz_options__option--blue {
  background-color: #08c;
}

.quiz_options__option--pink {
  background-color: #f0a;
}

.quiz_options__option--violet {
  background-color: #a0f;
}

.quiz_options__option--green {
  background-color: #097e47;
}

.quiz_options__option-disabled {
  background-color: rgb(116, 116, 116);
}

.quiz_options__details {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 100%;

  border-top: 3px solid #000;
}

.quiz_options__controls {
  width: 100%;
  text-align: center;
}

.quiz_options__controls--row {
  width: 33%;
}

.quiz_options__label {
  margin-right: 6px;

  font-size: 1.5em;
}

.quiz_options__label--big {
  font-size: 1.6em;
}

.quiz_options__input {
  border: none;
  text-align: center;
  font-size: 1.5em;

  background-color: transparent;
  color: white;
}

.quiz_options__input--wide {
  display: block;
  width: 100%;
}

.quiz_options__input:focus {
  background-color: white;
  color: #097e47;
}

.quiz_options__submit_button {
  width: 100%;
  height: 15%;

  border: none;
  background-color: var(--correct-answer-color);

  font-size: 1.8em;
  color: white;
  text-transform: capitalize;
  cursor: pointer;

  transition: background-color 0.2s, color 0.2s;
}

.quiz_options__submit_button:hover {
  background-color: white;
  color: var(--correct-answer-color);
}

.quiz_options__toggle_button {
  width: 100%;
  height: 16%;

  border: none;
  padding: 0.2em;
  background-color: var(--main-card-color);

  font-size: 1.8em;
  color: white;
  cursor: pointer;

  transition: background-color 0.2s, color 0.2s;
}

.quiz_options__toggle_button:hover {
  background-color: white;
  color: var(--main-card-color);
}

@media (min-width: 900px) {
  .quiz_options__wrapper {
    height: 15vh;
    width: 460px;
  }

  .quiz_options__label,
  .quiz_options__input {
    font-size: 1.6em;
  }

  .quiz_options__label--big,
  .quiz_options__submit_button,
  .quiz_options__toggle_button {
    font-size: 2.2em;
  }
}
