<section class="quiz_options__wrapper">
  <div class="quiz_options">
    <form
      [formGroup]="quizOptionsFormGroup"
      (ngSubmit)="onChangeOptions()"
      class="quiz_options__form"
    >
      <div
        formGroupName="general"
        class="quiz_options__option quiz_options__option--wide quiz_options__option--green"
      >
        <div class="quiz_options__controls quiz_options__controls--row">
          <label class="quiz_options__label" for="radical"
            >Number of questions</label
          >
          <input
            formControlName="numberOfQuestions"
            class="quiz_options__input quiz_options__input--wide"
            type="number"
            name="numberOfQuestions"
            id="numberOfQuestions"
            value="numberOfQuestions"
            min="1"
          />
        </div>
        <div class="quiz_options__controls quiz_options__controls--row">
          <label class="quiz_options__label" for="shouldShowAnswer"
            >Show answer after answering</label
          >
          <input
            formControlName="shouldShowAnswer"
            class="quiz_options__input"
            type="checkbox"
            name="shouldShowAnswer"
            id="shouldShowAnswer"
            value="shouldShowAnswer"
          />
        </div>
        <div class="quiz_options__controls quiz_options__controls--row">
          <label class="quiz_options__label" for="shouldHideRandomProperties"
            >Should hide random properties</label
          >
          <input
            formControlName="shouldHideRandomProperties"
            class="quiz_options__input"
            type="checkbox"
            name="shouldHideRandomProperties"
            id="shouldHideRandomProperties"
            value="shouldHideRandomProperties"
          />
        </div>
      </div>
      <div
        formGroupName="radical"
        [ngClass]="{
          'quiz_options__option-disabled': isTypeSelected('radical')
            ? null
            : true
        }"
        class="quiz_options__option quiz_options__option--blue"
      >
        <div class="quiz_options__controls">
          <label
            class="quiz_options__label quiz_options__label--big"
            for="radical"
            >Radical</label
          >
          <input
            formControlName="active"
            class="quiz_options__input"
            type="checkbox"
            name="radical"
            id="radical"
            value="radical"
          />
        </div>
        <div class="quiz_options__details">
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="radical-meanings"
              >Meanings</label
            >
            <input
              formControlName="meanings"
              [attr.disabled]="
                isTypeSelected('radical') && !shouldHideRandomProperties()
                  ? null
                  : true
              "
              class="quiz_options__input"
              type="checkbox"
              name="meanings"
              id="radical-meanings"
              value="meanings"
            />
          </div>
        </div>
      </div>
      <div
        formGroupName="kanji"
        [ngClass]="{
          'quiz_options__option-disabled': isTypeSelected('kanji') ? null : true
        }"
        class="quiz_options__option quiz_options__option--pink"
      >
        <div class="quiz_options__controls">
          <label
            class="quiz_options__label quiz_options__label--big"
            for="kanji"
            >Kanji</label
          >
          <input
            formControlName="active"
            class="quiz_options__input"
            type="checkbox"
            name="kanji"
            id="kanji"
            value="kanji"
          />
        </div>
        <div class="quiz_options__details">
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="kanji-meanings"
              >Meanings</label
            >
            <input
              formControlName="meanings"
              [attr.disabled]="
                isTypeSelected('kanji') && !shouldHideRandomProperties()
                  ? null
                  : true
              "
              class="quiz_options__input"
              type="checkbox"
              name="meanings"
              id="kanji-meanings"
              value="meanings"
            />
          </div>
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="onyomi">Onyomi</label>
            <input
              formControlName="onyomi"
              [attr.disabled]="
                isTypeSelected('kanji') && !shouldHideRandomProperties()
                  ? null
                  : true
              "
              class="quiz_options__input"
              type="checkbox"
              name="onyomi"
              id="onyomi"
              value="onyomi"
            />
          </div>
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="kunyomi">Kunyomi</label>
            <input
              formControlName="kunyomi"
              [attr.disabled]="
                isTypeSelected('kanji') && !shouldHideRandomProperties()
                  ? null
                  : true
              "
              class="quiz_options__input"
              type="checkbox"
              name="kunyomi"
              id="kunyomi"
              value="kunyomi"
            />
          </div>
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="nanori">Nanori</label>
            <input
              formControlName="nanori"
              [attr.disabled]="
                isTypeSelected('kanji') && !shouldHideRandomProperties()
                  ? null
                  : true
              "
              class="quiz_options__input"
              type="checkbox"
              name="nanori"
              id="nanori"
              value="nanori"
            />
          </div>
        </div>
      </div>
      <div
        formGroupName="vocabulary"
        [ngClass]="{
          'quiz_options__option-disabled': isTypeSelected('vocabulary')
            ? null
            : true
        }"
        class="quiz_options__option quiz_options__option--violet"
      >
        <div class="quiz_options__controls">
          <label
            class="quiz_options__label quiz_options__label--big"
            for="vocabulary"
            >Vocabulary</label
          >
          <input
            formControlName="active"
            type="checkbox"
            name="vocabulary"
            id="vocabulary"
            value="vocabulary"
          />
        </div>
        <div class="quiz_options__details">
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="vocabulary-meanings"
              >Meanings</label
            >
            <input
              formControlName="meanings"
              [attr.disabled]="
                isTypeSelected('vocabulary') && !shouldHideRandomProperties()
                  ? null
                  : true
              "
              class="quiz_options__input"
              type="checkbox"
              name="meanings"
              id="vocabulary-meanings"
              value="meanings"
            />
          </div>
          <div class="quiz_options__controls">
            <label class="quiz_options__label" for="reading">Reading</label>
            <input
              formControlName="reading"
              [attr.disabled]="
                isTypeSelected('vocabulary') && !shouldHideRandomProperties()
                  ? null
                  : true
              "
              class="quiz_options__input"
              type="checkbox"
              name="reading"
              id="reading"
              value="reading"
            />
          </div>
        </div>
      </div>
      <button class="quiz_options__submit_button" type="submit">Save</button>
    </form>
  </div>
</section>
