.quiz_card__wrapper {
  height: 70vh;
  min-height: 500px;
  width: 80vw;
  max-width: 300px;

  border: 3px solid black;
  background-color: rgb(177, 177, 177);
  box-shadow: 10px 10px 5px 0px rgba(0, 35, 173, 0.6);
}

.quiz_card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;

  font-size: 3em;
}

.quiz_card__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.quiz_card__details {
  display: flex;
  flex-direction: column;

  flex-basis: 30%;
  width: 100%;

  color: white;
}

.quiz_card__controls {
  display: flex;
  justify-content: space-between;

  flex-basis: 25%;
  width: 100%;
  padding: 0.1em;

  color: white;
}

.quiz_card__controls--big {
  flex-basis: 60%;
}

.quiz_card__input {
  display: block;
  width: 100%;

  border: none;
  background-color: royalblue;

  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  color: white;
  outline: none;

  transition: 0.2s;
}

.quiz_card__input:focus {
  background-color: white;
  color: royalblue;
}

.quiz_card__input--big {
  height: 100%;
  font-size: 2em;
}

.quiz_card__input--lowercase {
  text-transform: none;
}

.quiz_card__submit_button {
  display: block;
  width: 98%;
  flex-basis: 10%;

  margin-bottom: 0.1em;
  border: none;

  font-size: 1.5em;
  background-color: royalblue;
  color: white;
  text-transform: uppercase;
  cursor: pointer;

  transition: 0.2s;
}

.quiz_card__submit_button:hover {
  background-color: white;
  color: royalblue;
}
