.enemies_layout__wrapper {
  position: relative;
  top: -18%;
  left: 45%;
  width: 55%;

  display: flex;
  justify-content: space-around;
}

@media (min-width: 640px) {
  .enemies_layout__wrapper {
    top: -7%;
  }
}

@media (min-width: 653px) and (max-height: 320px) {
  .enemies_layout__wrapper {
    top: -26%;
  }
}

@media (min-width: 667px) {
  .enemies_layout__wrapper {
    top: -6%;
    left: 50%;
    width: 50%;
  }
}

@media (min-width: 731px) {
  .enemies_layout__wrapper {
    top: 2%;
    left: 46%;
    width: 54%;
  }
}

@media (min-width: 812px) and (max-height: 375px) {
  .enemies_layout__wrapper {
    top: -21%;
    left: 46%;
    width: 54%;
  }
}

@media (min-width: 823px) and (max-height: 411px) {
  .enemies_layout__wrapper {
    top: -15%;
  }
}

@media (min-width: 1024px) {
  .enemies_layout__wrapper {
    top: 9%;
  }
}

@media (min-width: 1366px) {
  .enemies_layout__wrapper {
    top: 7%;
    left: 42%;
    width: 58%;
  }
}
