.quiz_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;

  z-index: 2;
}

.quiz_layout::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: hsl(0, 0%, 11%);
  opacity: 0.9;

  z-index: -1;
}
