.deck_energy {
  position: absolute;
  top: 55%;
  left: 5%;
  width: 2.6em;
  height: 2.6em;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid black;
  border-radius: 50%;

  overflow: hidden;
}

.deck_energy__value {
  color: hsl(0, 0%, 90%);
  text-align: center;
  font-size: 1.1em;

  z-index: 1;
}

.deck_energy__liquid {
  position: absolute;
  left: -0.4em;
  top: 0;

  width: 3em;
  height: 100%;

  border-radius: 40%;

  background: hsl(207, 86%, 42%);
}
