.radical_card {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  font-size: 3em;
}

.radical_card__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.radical_card__controls {
  display: flex;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  margin: 0.1em;

  color: white;
}

.radical_card__controls--column {
  flex-direction: column;
}

.radical_card__input {
  display: block;

  height: 24%;
  width: 100%;

  border: none;
  background-color: royalblue;

  text-align: center;
  color: white;
  font-size: 1em;
  outline: none;
}

.radical_card__input--big {
  height: 100%;
  font-size: 2em;
}

.radical_card__submit_button {
  display: block;
  width: 100%;

  border: none;
  background-color: royalblue;
  color: white;
  font-size: 1.5em;
  cursor: pointer;

  transition: 0.2s;
}

.radical_card__submit_button:hover {
  background-color: white;
  color: royalblue;
}
