<div class="radical_card">
  <form
    [formGroup]="radicalFormGroup"
    (ngSubmit)="onValidateCard()"
    class="radical_card__form"
    autocomplete="off"
  >
    <div class="radical_card__controls">
      <input
        [ngModel]="radicalValue | japanese"
        (ngModelChange)="radicalValue = $event"
        formControlName="radical"
        class="radical_card__input radical_card__input--big"
        type="text"
        name="radical"
        id="radical"
      />
    </div>
    <div class="radical_card__controls radical_card__controls--column">
      <input
        formControlName="meaning"
        class="radical_card__input"
        type="text"
        name="meaning"
        id="meaning"
      />
      <input
        formControlName="meaning"
        class="radical_card__input"
        type="text"
        name="meaning"
        id="meaning"
      />
      <input
        formControlName="meaning"
        class="radical_card__input"
        type="text"
        name="meaning"
        id="meaning"
      />
      <input
        formControlName="meaning"
        class="radical_card__input"
        type="text"
        name="meaning"
        id="meaning"
      />
    </div>
    <button class="radical_card__submit_button" type="submit">Check</button>
  </form>
</div>
