.quiz_summary {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;

  background-color: hsl(0, 0%, 11%);
}

.quiz_summary__mistakes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
