<div
  *ngIf="isVisible"
  [ngStyle]="{ display: isVisible ? null : 'none' }"
  class="quiz_summary"
>
  <div [@show]="mistakesState" class="quiz_summary__mistakes">
    <app-quiz-summary-card
      *ngFor="let mistake of mistakes"
      [currentCharacter]="mistake"
    ></app-quiz-summary-card>
  </div>
  <span
    [@blink]="messageState"
    [ngStyle]="{ color: messageColor }"
    class="quiz_summary__message"
    >{{ message }}</span
  >
  <div class="quiz_summary__buttons">
    <button class="quiz_summary__button quiz_summary__again_button">
      Try again
    </button>
    <button class="quiz_summary__button quiz_summary__close_button">
      Close
    </button>
  </div>
</div>
