.quiz_summary {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100vw;

  background-color: hsl(0, 0%, 11%);
}

.quiz_summary__mistakes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  min-height: 100vh;
  min-width: 100vw;

  transform: scale(0);
}

.quiz_summary__message {
  position: fixed;
  top: 50%;
  left: 50%;

  font-size: 10em;

  transform: scale(0) translate(-50%, -50%);
  transform-origin: 0 0;
}

.quiz_summary__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: fixed;
  bottom: 2em;
  left: 0;
  right: 0;
}

.quiz_summary__button {
  display: block;

  border: 0.1em black solid;
  padding: 0.2em 0.5em;

  font-size: 3em;
  color: white;
  text-transform: uppercase;

  transition: 0.2s;
}

.quiz_summary__button:hover {
  background-color: white;
  color: #08c66c;
  transform: scale(1.2);
  cursor: pointer;
}

.quiz_summary__again_button {
  background-color: #08c66c;
}

.quiz_summary__again_button:hover {
  color: #08c66c;
}

.quiz_summary__close_button {
  background-color: #f03;
}

.quiz_summary__close_button:hover {
  color: #f03;
}

@media (min-width: 667px) {
  .quiz_summary__message {
    font-size: 12em;
  }
}

@media (min-width: 736px) {
  .quiz_summary__message {
    font-size: 13em;
  }
}

@media (min-width: 823px) {
  .quiz_summary__message {
    font-size: 14em;
  }
}

@media (min-width: 850px) {
  .quiz_summary__message {
    font-size: 15em;
  }
}

@media (min-width: 1024px) {
  .quiz_summary__message {
    font-size: 17em;
  }
}

@media (min-width: 1366px) {
  .quiz_summary__message {
    font-size: 25em;
  }
}
