<div
  *ngIf="isVisible"
  [ngStyle]="{ display: isVisible ? null : 'none' }"
  class="quiz_summary"
>
  <div [@show]="mistakesState" class="quiz_summary__mistakes">
    <app-quiz-summary-card
      *ngFor="let mistake of mistakes"
      [currentCharacter]="mistake"
    ></app-quiz-summary-card>
  </div>
  <span
    [@blink]="messageState"
    [ngStyle]="{ color: messageColor }"
    class="quiz_summary__message"
    >{{ message }}</span
  >
  <div [@appear]="messageState" class="quiz_summary__buttons">
    <button
      (click)="onTryAgainQuiz()"
      class="quiz_summary__button quiz_summary__again_button"
    >
      Try again
    </button>
    <button
      *ngIf="shouldProposeNewPreferredQuestions"
      (click)="onAddMistakesToPreferred()"
      class="quiz_summary__button quiz_summary__add_to_preferred_button"
    >
      Add to preferred
    </button>
    <button
      (click)="onCloseSummary()"
      class="quiz_summary__button quiz_summary__close_button"
    >
      Close
    </button>
  </div>
</div>
