.quiz_card__submit_button[disabled] {
  background-color: rgb(177, 177, 177);
  color: rgb(177, 177, 177);
  cursor: default;
}

.quiz_card__submit_button[disabled]:hover {
  cursor: default;
}

.quiz_card__progress {
  position: absolute;
  top: 1%;
  right: 0;

  height: 3.1em;
  width: 95%;
  border-radius: 1.5em;

  background-color: hsl(0, 0%, 11%);

  transform: translateX(-2.5%);
}

.quiz_card__progress_bar {
  position: relative;

  width: 100%;
  height: 100%;
}

.quiz_card__progress_bar_indicator {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;

  background-color: var(--main-card-color);
  transition: 0.2s all, 1s width ease;
}

.quiz_card__progress_bar_border {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  border: 3px solid rgb(177, 177, 177);
  border-radius: 1em;
}

.quiz_card__question_counter_value {
  position: absolute;
  top: 0;
  left: 50%;

  color: white;
  font-size: 2.4em;

  transform: translateX(-50%);
}
