.quiz_card__submit_button[disabled] {
  background-color: rgb(177, 177, 177);
  color: rgb(177, 177, 177);
  cursor: default;
}

.quiz_card__submit_button[disabled]:hover {
  cursor: default;
}

.quiz_card__question_counter {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz_card__question_counter_value {
  color: white;
  font-size: 2.4em;
}
