<section class="quiz_card__wrapper">
  <div class="quiz_card">
    <div class="quiz_card__question_counter">{{ questionsCounter }}</div>
    <form
      [formGroup]="quizFormGroup"
      (ngSubmit)="onValidateCard()"
      class="quiz_card__form"
      autocomplete="off"
    >
      <div class="quiz_card__controls quiz_card__controls--big">
        <input
          formControlName="characters"
          [ngModel]="charactersValue.characters | japanese"
          (ngModelChange)="charactersValue.characters = $event"
          class="quiz_card__input quiz_card__input--lowercase quiz_card__input--big"
          type="text"
          name="characters"
          id="characters"
        />
      </div>
      <div class="quiz_card__details">
        <div class="quiz_card__controls">
          <label class="quiz_card__label" for="meanings">Meaning</label>
          <input
            #meaningInput
            formControlName="meanings"
            class="quiz_card__input"
            type="text"
            name="meanings"
            id="meanings"
          />
        </div>
        <div
          *ngIf="isKanji() && hasProperty('onyomi')"
          class="quiz_card__controls"
        >
          <label class="quiz_card__label" for="onyomi">Onyomi</label>
          <input
            formControlName="onyomi"
            [ngModel]="charactersValue.onyomi | japanese"
            (ngModelChange)="charactersValue.onyomi = $event"
            class="quiz_card__input"
            type="text"
            name="onyomi"
            id="onyomi"
          />
        </div>
        <div
          *ngIf="isKanji() && hasProperty('kunyomi')"
          class="quiz_card__controls"
        >
          <label class="quiz_card__label" for="kunyomi">Kunyomi</label>
          <input
            formControlName="kunyomi"
            [ngModel]="charactersValue.kunyomi | japanese"
            (ngModelChange)="charactersValue.kunyomi = $event"
            class="quiz_card__input"
            type="text"
            name="kunyomi"
            id="kunyomi"
          />
        </div>
        <div
          *ngIf="isKanji() && hasProperty('nanori')"
          class="quiz_card__controls"
        >
          <label class="quiz_card__label" for="nanori">Nanori</label>
          <input
            formControlName="nanori"
            [ngModel]="charactersValue.nanori | japanese"
            (ngModelChange)="charactersValue.nanori = $event"
            class="quiz_card__input"
            type="text"
            name="nanori"
            id="nanori"
          />
        </div>
        <div
          *ngIf="isVocabulary() && hasProperty('reading')"
          class="quiz_card__controls"
        >
          <label class="quiz_card__label" for="reading">Reading</label>
          <input
            formControlName="reading"
            [ngModel]="charactersValue.reading | japanese"
            (ngModelChange)="charactersValue.reading = $event"
            class="quiz_card__input"
            type="text"
            name="reading"
            id="reading"
          />
        </div>
      </div>
      <button
        [attr.disabled]="hasCharacter()"
        class="quiz_card__submit_button"
        type="submit"
      >
        {{ CardStatus[cardStatus] | lowercase }}
      </button>
    </form>
  </div>
</section>
