.card_radical {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  font-size: 3em;
}

.card_radical__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.card_radical__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;

  color: white;
}

.card_radical__controls--blue {
  background-color: royalblue;
}

.card_radical__controls--gray {
  background-color: rgb(177, 177, 177);
  color: black;
}

.card_radical__attribute {
  flex-basis: 15%;
}

.card_radical__input {
  display: block;

  flex-basis: 85%;
  width: 100%;

  border: none;
  background-color: transparent;

  text-align: center;
  font-size: 1em;
  border-top: 3px rgb(4, 14, 46) solid;
  border-bottom: 3px rgb(4, 14, 46) solid;
  outline: none;

  color: black;
}

.card_radical__input--big {
  font-size: 4em;
  color: white;
}

.card_radical__submit_button {
  display: block;
  width: 100%;

  border: none;
  background-color: royalblue;
  color: white;
  font-size: 1.5em;
  cursor: pointer;

  transition: 0.2s;
}

.card_radical__submit_button:hover {
  background-color: white;
  color: royalblue;
}
