<div class="card_radical">
  <form
    [formGroup]="radicalFormGroup"
    (ngSubmit)="onValidateCard()"
    class="card_radical__form"
  >
    <div class="card_radical__field">
      <label for="radical" class="card_radical__attribute">Radical: </label>
      <input
        formControlName="radical"
        class="card_radical__radical"
        type="text"
        name="radical"
        id="radical"
      />
    </div>
    <div class="card_radical__field">
      <label for="meaning" class="card_radical__attribute">Meaning: </label>
      <input
        formControlName="meaning"
        class="card_radical__meaning"
        type="text"
        name="meaning"
        id="meaning"
      />
    </div>
    <button class="card_radical__submit_button" type="submit">Check</button>
  </form>
</div>
