<div class="card_radical">
  <form
    [formGroup]="radicalFormGroup"
    (ngSubmit)="onValidateCard()"
    class="card_radical__form"
  >
    <h1 class="card_radical__type">Radical</h1>
    <div class="card_radical__controls card_radical__controls--blue">
      <label for="radical" class="card_radical__attribute">Sign: </label>
      <input
        formControlName="radical"
        class="card_radical__input card_radical__input--big"
        type="text"
        name="radical"
        id="radical"
      />
    </div>
    <div class="card_radical__controls card_radical__controls--gray">
      <label for="meaning" class="card_radical__attribute">Meaning: </label>
      <input
        formControlName="meaning"
        class="card_radical__input"
        type="text"
        name="meaning"
        id="meaning"
      />
    </div>
    <button class="card_radical__submit_button" type="submit">Check</button>
  </form>
</div>
