<section class="quiz_card__wrapper">
  <div class="quiz_card">
    <form
      [formGroup]="quizFormGroup"
      (ngSubmit)="onValidateCard()"
      class="quiz_card__form"
      autocomplete="off"
    >
      <div class="quiz_card__controls quiz_card__controls--big">
        <input
          formControlName="characters"
          [ngModel]="charactersValue.characters | japanese"
          (ngModelChange)="charactersValue.characters = $event"
          class="quiz_card__input quiz_card__input--lowercase quiz_card__input--big"
          type="text"
          name="characters"
          id="characters"
        />
      </div>
      <div class="quiz_card__details">
        <div class="quiz_card__controls">
          <input
            formControlName="meaning"
            class="quiz_card__input"
            type="text"
            name="meaning"
            id="meaning"
          />
        </div>
        <div *ngIf="isKanji()" class="quiz_card__controls">
          <input
            formControlName="onyomi"
            [ngModel]="charactersValue.onyomi | japanese"
            (ngModelChange)="charactersValue.onyomi = $event"
            [attr.disabled]="
              currentCharacter.onyomi === undefined ||
              currentCharacter.onyomi[0] === ''
                ? ''
                : null
            "
            class="quiz_card__input"
            type="text"
            name="onyomi"
            id="onyomi"
          />
        </div>
        <div *ngIf="isKanji()" class="quiz_card__controls">
          <input
            formControlName="kunyomi"
            [ngModel]="charactersValue.kunyomi | japanese"
            (ngModelChange)="charactersValue.kunyomi = $event"
            [attr.disabled]="
              currentCharacter.kunyomi === undefined ||
              currentCharacter.kunyomi[0] === ''
                ? ''
                : null
            "
            class="quiz_card__input"
            type="text"
            name="kunyomi"
            id="kunyomi"
          />
        </div>
        <div *ngIf="isKanji()" class="quiz_card__controls">
          <input
            formControlName="nanori"
            [ngModel]="charactersValue.nanori | japanese"
            (ngModelChange)="charactersValue.nanori = $event"
            [attr.disabled]="
              currentCharacter.nanori === undefined ||
              currentCharacter.nanori[0] === ''
                ? ''
                : null
            "
            class="quiz_card__input"
            type="text"
            name="nanori"
            id="nanori"
          />
        </div>
        <div *ngIf="isVocabulary()" class="quiz_card__controls">
          <input
            formControlName="reading"
            [ngModel]="charactersValue.reading | japanese"
            (ngModelChange)="charactersValue.reading = $event"
            [attr.disabled]="currentCharacter.reading === '' ? '' : null"
            class="quiz_card__input"
            type="text"
            name="reading"
            id="reading"
          />
        </div>
      </div>
      <button class="quiz_card__submit_button" type="submit">
        {{ CardStatus[cardStatus] }}
      </button>
    </form>
  </div>
</section>
