<div class="japanese_alphabet">
  <button
    #toggleButton
    (click)="onToggleAlphabet()"
    class="japanese_alphabet__toggle_button"
  >
    Show alphabet
  </button>
  <!-- <div class="japanese_alphabet__group_container">
    <div class="japanese_alphabet__group_names">
      <p
        (click)="onChangeAlphabet()"
        [ngClass]="{
          'japanese_alphabet__group_name--active': isHiraganaActive
        }"
        class="japanese_alphabet__group_name"
      >
        Hiragana
      </p>
      <p
        (click)="onChangeAlphabet()"
        [ngClass]="{
          'japanese_alphabet__group_name--active': !isHiraganaActive
        }"
        class="japanese_alphabet__group_name"
      >
        Katakana
      </p>
    </div>
    <div class="japanese_alphabet__group">
      <div
        [@show]="'in'"
        *ngFor="let letter of alphabet"
        class="japanese_alphabet__letter_container"
      >
        <span class="japanese_alphabet__sign">{{ letter.sign }}</span>
        <span class="japanese_alphabet__record">{{ letter.record }}</span>
      </div>
    </div>
  </div> -->
</div>
