<div class="character_stats__wrapper">
  <div class="character_stats__health_container">
    <div class="character_stats__health_bar" [ngStyle]="getHealthBarStyles()">
      <div
        *ngIf="currentShield > 0"
        [ngStyle]="{
          background: shieldImage
        }"
        class="character_stats__shield"
      >
        <div class="character_stats__shield_value">
          {{ currentShield }}
        </div>
      </div>
      <div class="character_stats__health">
        <p class="character_stats__health_value">
          {{ currentHealth }}/{{ maxHealth }}
        </p>
      </div>
    </div>
  </div>
</div>
