.character_stats__wrapper {
  position: relative;
  width: 100%;
  height: 1.5em;
}

.character_stats__shield {
  position: absolute;
  top: -25%;
  left: -7%;

  height: calc(
    var(--small-sprite-base-size) * var(--small-sprite-size-multiplier)
  );
  width: calc(
    var(--small-sprite-base-size) * var(--small-sprite-size-multiplier)
  );
}

.character_stats__shield_value {
  position: absolute;
  top: 9%;
  left: 50%;

  font-size: 1em;
  font-weight: 600;
  color: hsl(0, 0%, 95%);

  transform: translateX(-50%);
}

@media (min-width: 736px) {
  .character_stats__shield_value {
    top: 7.5%;
    left: 50%;

    font-size: 1.15em;
  }
}

@media (min-width: 823px) {
  .character_stats__shield {
    top: -17%;
    left: -6%;
  }
}

@media (min-width: 850px) {
  .character_stats__shield_value {
    font-size: 1.7em;
  }
}

@media (min-width: 1024px) {
  .character_stats__shield {
    top: -42%;
    left: -10%;
  }

  .character_stats__shield_value {
    font-size: 1.9em;
  }
}

@media (min-width: 1366px) {
  .character_stats__shield {
    top: -30%;
    left: -7%;
  }

  .character_stats__shield_value {
    font-size: 2.1em;
  }
}
