.quiz_question_selection__window {
  position: absolute;
  top: 0;
  left: 0;

  background-color: hsl(0, 0%, 11%);
}

.quiz_question_selection__categories {
  position: sticky;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100vw;

  background-color: hsl(0, 0%, 11%);
}

.quiz_question_selection__category {
  flex-basis: 33%;

  text-align: center;

  font-size: 2.5em;
  color: white;
  cursor: pointer;
  transition: background-color 200ms;
}

.quiz_question_selection__category--radicals:hover {
  background-color: var(--radicals-color);
}

.quiz_question_selection__category--kanji:hover {
  background-color: var(--kanji-color);
}

.quiz_question_selection__category--vocabulary:hover {
  background-color: var(--vocabulary-color);
}

.quiz_question_selection__category--active {
  border-bottom: 0.1em var(--correct-answer-color) solid;
}

.quiz_question_selection__questions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  min-height: 100vh;
}

.quiz_question_selection__toggle_button_container {
  position: fixed;
  top: 50%;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(-50%);
}

.quiz_question_selection__toggle_button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.4vh;
  min-width: 34px;
  height: 320px;

  border: 2px solid black;
  padding: 0.2em;

  background-color: var(--main-card-color);
  color: white;
  font-size: 1.8em;

  transition: background-color 0.2s, color 0.2s;
}

.quiz_question_selection__toggle_button:hover {
  background-color: white;
  color: var(--main-card-color);
  cursor: pointer;
}

.quiz_question_selection__toggle_button_text {
  cursor: pointer;
  writing-mode: vertical-rl;
}

@media (min-width: 640px) {
  .quiz_question_selection__category {
    font-size: 4em;
  }
}

@media (min-width: 731px) {
  .quiz_question_selection__category {
    font-size: 4.5em;
  }
}

@media (min-width: 900px) {
  .quiz_question_selection__toggle_button {
    font-size: 2.2em;
  }
}

@media (min-width: 1366px) {
  .quiz_question_selection__category {
    font-size: 5.5em;
  }
}
