.quiz_question_selection__window {
  position: absolute;
  top: 0;
  left: 0;

  background-color: hsl(0, 0%, 11%);
}

.quiz_question_selection__options {
  position: sticky;
  bottom: 0;
  left: 0;

  width: 100%;
}

.quiz_question_selection__categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100vw;

  background-color: hsl(0, 0%, 11%);
  overflow-y: auto;
}

.quiz_question_selection__category {
  text-align: center;

  font-size: 2.3em;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.quiz_question_selection__category--radicals-active,
.quiz_question_selection__category--radicals:hover {
  background-color: var(--radicals-color);
}

.quiz_question_selection__category--kanji-active,
.quiz_question_selection__category--kanji:hover {
  background-color: var(--kanji-color);
}

.quiz_question_selection__category--vocabulary-active,
.quiz_question_selection__category--vocabulary:hover {
  background-color: var(--vocabulary-color);
}

.quiz_question_selection__questions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  min-height: 100vh;
}

.quiz_question_selection__toggle_button_container {
  position: fixed;
  top: 50%;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(-50%);
}

.quiz_question_selection__toggle_button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.4vh;
  min-width: 34px;
  height: 320px;

  border: 2px solid black;
  padding: 0.2em;

  background-color: var(--main-card-color);
  color: white;
  font-size: 1.8em;

  transition: background-color 0.2s, color 0.2s;
}

.quiz_question_selection__toggle_button:hover {
  background-color: white;
  color: var(--main-card-color);
  cursor: pointer;
}

.quiz_question_selection__toggle_button_text {
  cursor: pointer;
  writing-mode: vertical-rl;
}

.quiz_question_selection__tips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.quiz_question_selection__tip {
  flex-basis: 100%;

  display: grid;
  grid-template-columns: 4fr 1fr 3fr 2fr;
  justify-items: center;
  align-items: center;
}

.quiz_question_selection__tip_message {
  font-size: 1.8em;
  color: white;
}

.quiz_question_selection__left_mouse_click_key_image,
.quiz_question_selection__right_mouse_click_key_image,
.quiz_question_selection__left_mouse_and_shift_click_key_image,
.quiz_question_selection__right_mouse_and_shift_click_key_image {
  display: inline-block;

  background-size: cover;
  background-repeat: no-repeat;

  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

.quiz_question_selection__left_mouse_click_key_image,
.quiz_question_selection__right_mouse_click_key_image {
  height: 12px;
  width: 15px;
}

.quiz_question_selection__left_mouse_and_shift_click_key_image,
.quiz_question_selection__right_mouse_and_shift_click_key_image {
  height: 12px;
  width: 41px;
}

.quiz_question_selection__left_mouse_click_key_image {
  background-image: url("src/assets/keys/left_mouse_click.png");
  animation-name: left_click;
}

.quiz_question_selection__right_mouse_click_key_image {
  background-image: url("src/assets/keys/right_mouse_click.png");
  animation-name: right_click;
}

.quiz_question_selection__left_mouse_and_shift_click_key_image {
  background-image: url("src/assets/keys/left_mouse_and_shift_click.png");
  animation-name: left_and_shift_click;
}

.quiz_question_selection__right_mouse_and_shift_click_key_image {
  background-image: url("src/assets/keys/right_mouse_and_shift_click.png");
  animation-name: right_and_shift_click;
}

@keyframes left_click {
  0% {
    background-image: url("src/assets/keys/mouse_default.png");
  }
  70% {
    background-image: url("src/assets/keys/left_mouse_click.png");
  }
}

@keyframes right_click {
  0% {
    background-image: url("src/assets/keys/mouse_default.png");
  }
  70% {
    background-image: url("src/assets/keys/right_mouse_click.png");
  }
}

@keyframes left_and_shift_click {
  0% {
    background-image: url("src/assets/keys/mouse_and_shift_default.png");
  }
  70% {
    background-image: url("src/assets/keys/left_mouse_and_shift_click.png");
  }
}

@keyframes right_and_shift_click {
  0% {
    background-image: url("src/assets/keys/mouse_and_shift_default.png");
  }
  70% {
    background-image: url("src/assets/keys/right_mouse_and_shift_click.png");
  }
}

@media (min-width: 640px) {
  .quiz_question_selection__category {
    font-size: 4em;
  }
}

@media (min-width: 731px) {
  .quiz_question_selection__category {
    font-size: 4.5em;
  }
}

@media (min-width: 900px) {
  .quiz_question_selection__toggle_button {
    font-size: 2.2em;
  }
}

@media (min-width: 1366px) {
  .quiz_question_selection__category {
    font-size: 5.5em;
  }
}
