.character_action__wrapper {
  position: absolute;
  top: 0%;

  width: calc(
    var(--medium-sprite-base-size) * var(--medium-sprite-size-multiplier)
  );
  height: calc(
    var(--medium-sprite-base-size) * var(--medium-sprite-size-multiplier)
  );
  margin: 0 auto;
}

.character_action {
  height: 100%;
}

.character_action__image {
  height: 100%;
}

.character_action__value {
  position: absolute;
  bottom: -15%;
  left: -15%;

  font-size: 1em;
  font-weight: 600;
  color: hsl(0, 0%, 95%);
}

@media (min-width: 736px) {
  .character_action__value {
    font-size: 1.3em;
  }
}

@media (min-width: 823px) {
  .character_action__value {
    font-size: 1.6em;
  }
}

@media (min-width: 850px) {
  .character_action__value {
    font-size: 1.8em;
  }
}

@media (min-width: 1024px) {
  .character_action__value {
    font-size: 2.1em;
  }
}

@media (min-width: 1366px) {
  .character_action__value {
    font-size: 2.2em;
  }
}
