.character_sprite__wrapper {
  position: absolute;
  top: 20%;
  left: 20%;

  width: 96px;
  height: 96px;
}

.character_sprite__image {
  height: 100%;
  width: 100%;
  background: url("../../../../assets/characters/example-character_3x.png") 0 0
    no-repeat;
  animation: character-sprite 1s steps(4) infinite;
}

@keyframes character-sprite {
  100% {
    background-position: -384px;
  }
}
