.character_sprite__wrapper {
  width: calc(var(--sprite-base-size) * var(--sprite-size-multiplier));
  height: calc(var(--sprite-base-size) * var(--sprite-size-multiplier));

  margin: 2%;
}

.character_sprite__image {
  height: 100%;
  width: 100%;
  animation-name: character-sprite;
}

.character_sprite__image--rotated {
  transform: rotateY(180deg);
}

@keyframes character-sprite {
  100% {
    background-position: calc(
      var(--sprite-base-size) * var(--sprite-size-multiplier) * 4 * (-1)
    );
  }
}
