<div
  (click)="onChooseCharacter()"
  [ngClass]="{ 'character_sprite__wrapper--selectable': isSelectable }"
  [ngStyle]="{
    height: spriteHeight + 'px',
    width: spriteWidth + 'px'
  }"
  class="character_sprite__wrapper"
>
  <div
    #characterSpriteImage
    [ngClass]="{ 'character_sprite__image--rotated': isEnemy() }"
    [@animate]="{
      value: animationState,
      params: {
        spriteOffset: spriteOffset,
        animationSteps: animationSteps,
        animationDuration: animationDuration
      }
    }"
    (@animate.done)="onEndAnimation($event)"
    class="character_sprite__image"
  ></div>
</div>
