.player_layout__wrapper {
  position: absolute;
  top: 4%;
  left: 5%;
  display: flex;
}

@media (min-width: 640px) {
  .player_layout__wrapper {
    top: 8%;
  }
}

@media (min-width: 653px) and (max-height: 320px) {
  .player_layout__wrapper {
    top: -10%;
  }
}

@media (min-width: 667px) {
  .player_layout__wrapper {
    top: 8%;
  }
}

@media (min-width: 731px) {
  .player_layout__wrapper {
    top: 16%;
  }
}

@media (min-width: 812px) and (max-height: 375px) {
  .player_layout__wrapper {
    top: -7%;
  }
}

@media (min-width: 823px) and (max-height: 411px) {
  .player_layout__wrapper {
    top: -2%;
  }
}

@media (min-width: 1024px) {
  .player_layout__wrapper {
    top: 15%;
    left: 10%;
  }
}
