.player_layout__wrapper {
  position: absolute;
  top: -1%;
  left: 12%;
  display: flex;
}

@media (min-width: 640px) {
  .player_layout__wrapper {
    top: 8%;
  }
}

@media (min-width: 653px) and (max-height: 320px) {
  .player_layout__wrapper {
    top: 7%;
  }
}

@media (min-width: 667px) {
  .player_layout__wrapper {
    top: 10%;
  }
}

@media (min-width: 731px) {
  .player_layout__wrapper {
    top: 16%;
  }
}

@media (min-width: 812px) {
  .player_layout__wrapper {
    top: -6%;
  }
}

@media (min-width: 1024px) {
  .player_layout__wrapper {
    top: 18%;
  }
}
