.navigation {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 3;
}

.navigation__check {
  display: none;
}

.navigation__btn {
  position: fixed;
  top: 2%;
  right: 2%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-size: 1.2em;
  color: white;
  background-color: black;

  z-index: 3;
}

.navigation__check:checked + .navigation__btn i:before {
  content: "\f00d";
}

.navigation__list_wrapper {
  width: 100vw;
  height: 100vh;

  clip-path: circle(0% at calc(98% - 0.3em) calc(2% + 0.7em));

  transition: all 0.3s ease-in-out;

  z-index: 3;
}

.navigation__check:checked ~ .navigation__list_wrapper {
  background-color: black;
  clip-path: circle(100%);
}

.navigation__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;

  width: 100%;
  height: 100%;

  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;

  transform: scale(0);
}

.navigation__check:checked ~ .navigation__list_wrapper > .navigation__list {
  transform: scale(1);
  background-color: black;
}

.navigation__item {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__link {
  font-size: 3em;
  text-decoration: none;
  text-transform: uppercase;
  color: #53d9d1;

  transition: color 1s;
}

.navigation__link--squares:hover {
  color: black;
}

.navigation__link--squares::before,
.navigation__link--squares::after {
  content: "";

  position: absolute;
  top: 0%;
  left: 0%;

  height: 100%;
  width: 100%;

  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);

  z-index: -1;
}

.navigation__link--squares::before {
  background-color: #53d9d1;
  clip-path: circle(0% at 50% calc(50%));
}

.navigation__link--squares:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.navigation__link--squares::after {
  background-color: black;
  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 0%,
    40% 0%,
    40% 100%,
    60% 100%,
    60% 100%,
    40% 100%
  );
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.navigation__link--squares:hover::after {
  clip-path: polygon(
    40% 10%,
    60% 10%,
    60% 35%,
    40% 35%,
    40% 90%,
    60% 90%,
    60% 65%,
    40% 65%
  );
}
