<nav class="navigation">
  <input
    (click)="onToggleNavigation()"
    [checked]="isActive"
    type="checkbox"
    id="navigation__check"
    class="navigation__check"
  />
  <label *ngIf="!isOnMainPage" for="navigation__check" class="navigation__btn"
    ><i class="fas fa-bars"></i
  ></label>
  <div class="navigation__list_wrapper">
    <ul (click)="onToggleNavigation()" class="navigation__list">
      <li class="navigation__item">
        <a
          routerLink="/quiz"
          href="#"
          class="navigation__link navigation__link--rectangles"
          >Quiz Mode</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="/levels"
          href="#"
          class="navigation__link navigation__link--lines"
          >Game Mode</a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
