.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;

  z-index: 3;
}

.navigation__check {
  display: none;
}

.navigation__btn {
  position: fixed;
  top: 1%;
  right: 1%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.1em;
  height: 2.1em;
  border-radius: 50%;
  font-size: 1.4em;
  color: white;
  background-color: black;

  z-index: 3;
  cursor: pointer;
}

.navigation__check:checked + .navigation__btn i:before {
  content: "\f00d";
}

.navigation__list_wrapper {
  width: 100vw;
  height: 100vh;

  clip-path: circle(0% at calc(98% - 0.3em) calc(2% + 0.7em));

  transition: all 0.3s ease-in-out;

  z-index: 3;
}

.navigation__check:checked ~ .navigation__list_wrapper {
  background-color: black;
  clip-path: circle(100%);
}

.navigation__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);

  width: 100%;
  height: 100%;

  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;

  transform: scale(0);
}

.navigation__check:checked ~ .navigation__list_wrapper > .navigation__list {
  transform: scale(1);
  background-color: black;
}

.navigation__item {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__link {
  font-size: 2.5em;
  text-decoration: none;
  text-transform: uppercase;
  color: #53d9d1;

  cursor: pointer;
  transition: color 1s;
}

.navigation__link--rectangles:hover,
.navigation__link--lines:hover {
  color: black;
}

.navigation__link--rectangles::before,
.navigation__link--rectangles::after,
.navigation__link--lines::before,
.navigation__link--lines::after {
  content: "";

  position: absolute;
  top: 0%;
  left: 0%;

  height: 100%;
  width: 100%;

  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);

  z-index: -1;
}

.navigation__link--rectangles::before {
  background-color: #53d9d1;
  clip-path: circle(0% at 50% calc(50%));
}

.navigation__link--rectangles:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.navigation__link--rectangles::after {
  background-color: black;
  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 0%,
    40% 0%,
    40% 100%,
    60% 100%,
    60% 100%,
    40% 100%
  );
}

.navigation__link--rectangles:hover::after {
  clip-path: polygon(
    40% 10%,
    60% 10%,
    60% 35%,
    40% 35%,
    40% 90%,
    60% 90%,
    60% 65%,
    40% 65%
  );
}

.navigation__link--lines::before,
.navigation__link--lines::after {
  width: 50%;
  background-color: #53d9d1;
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.navigation__link--lines::before {
  clip-path: polygon(
    20% 60%,
    100% 60%,
    100% 40%,
    20% 40%,
    20% 0%,
    60% 0%,
    60% 20%,
    20% 20%
  );
  transform: translate(0, -50%) scaleY(0);
}

.navigation__link--lines:hover::before {
  transform: translate(0, 0) scaleY(1);
}

.navigation__link--lines::after {
  clip-path: polygon(
    80% 40%,
    0% 40%,
    0% 60%,
    80% 60%,
    80% 100%,
    40% 100%,
    40% 80%,
    80% 80%
  );
  transform: translate(100%, 50%) scaleY(0);
}

.navigation__link--lines:hover::after {
  transform: translate(100%, 0) scaleY(1);
}

@media (min-width: 375px) {
  .navigation__btn {
    top: 1.5%;
    right: 1.5%;

    width: 1.8em;
    height: 1.8em;
    font-size: 1.5em;
  }

  .navigation__link {
    font-size: 3em;
  }
}

@media (min-width: 411px) {
  .navigation__btn {
    width: 2em;
    height: 2em;
    font-size: 1.7em;
  }
}

@media (min-width: 568px) {
  .navigation__btn {
    width: 2.2em;
    height: 2.2em;
    font-size: 2em;
  }
}

@media (min-width: 640px) {
  .navigation__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .navigation__link {
    font-size: 3em;
  }
}

@media (min-width: 731px) {
  .navigation__btn {
    top: 2%;
    right: 2%;

    width: 2.4em;
    height: 2.4em;
    font-size: 2.2em;
  }

  .navigation__link {
    font-size: 3.5em;
  }
}

@media (min-width: 1024px) {
  .navigation__btn {
    top: 2%;
    right: 2%;

    width: 2.7em;
    height: 2.7em;
    font-size: 2.6em;
  }

  .navigation__link {
    font-size: 4.5em;
  }
}

@media (min-width: 1366px) {
  .navigation__link {
    font-size: 5.5em;
  }
}
