<nav class="navigation">
  <input type="checkbox" id="navigation__check" class="navigation__check" />
  <label for="navigation__check" class="navigation__btn"
    ><i class="fas fa-bars"></i
  ></label>
  <!-- <ul class="navigation__list">
    <li class="navigation__item">
      <a routerLink="/quiz" href="#" class="navigation__link">Quiz Mode</a>
    </li>
    <li class="navigation__item">
      <a routerLink="/game" href="#" class="navigation__link">Game Mode</a>
    </li>
  </ul> -->
</nav>
<router-outlet></router-outlet>
