<div class="level_menu">
  <div class="level_menu__group_container">
    <p [ngStyle]="{ color: color.radical }" class="level_menu__group_name">
      Radicals
    </p>
    <div class="level_menu__group">
      <div
        *ngFor="let level of allRadicalLevels"
        [ngStyle]="{ backgroundColor: color.radical }"
        (click)="onChoseLevel(level)"
        class="level_menu__level"
      >
        {{ level.id }}
      </div>
    </div>
  </div>

  <div class="level_menu__group_container">
    <p [ngStyle]="{ color: color.kanji }" class="level_menu__group_name">
      Kanji
    </p>
    <div class="level_menu__group">
      <div
        *ngFor="let level of allKanjiLevels"
        [ngStyle]="{ backgroundColor: color.kanji }"
        (click)="onChoseLevel(level)"
        class="level_menu__level"
      >
        {{ level.id }}
      </div>
    </div>
  </div>

  <div class="level_menu__group_container">
    <p [ngStyle]="{ color: color.vocabulary }" class="level_menu__group_name">
      Vocabulary
    </p>
    <div class="level_menu__group">
      <div
        *ngFor="let level of allVocabularyLevels"
        [ngStyle]="{ backgroundColor: color.vocabulary }"
        (click)="onChoseLevel(level)"
        class="level_menu__level"
      >
        {{ level.id }}
      </div>
    </div>
  </div>

  <div class="level_menu__group_container">
    <p [ngStyle]="{ color: color.mix }" class="level_menu__group_name">Mix</p>
    <div class="level_menu__group">
      <div
        *ngFor="let level of allMixLevels"
        [ngStyle]="{ backgroundColor: color.mix }"
        (click)="onChoseLevel(level)"
        class="level_menu__level"
      >
        {{ level.id }}
      </div>
    </div>
  </div>
</div>
