:root {
  --correct-answer-color: #08c66c;
  --incorrect-answer-color: rgb(146, 3, 3);
  --main-card-color: #08c;

  --sprite-base-size: 32px;
  --sprite-size-multiplier: 3;
  --sprite-image: "";
  --sprite-number-of-frames: 4;
  --sprite-animation-time: 600ms;
  --sprite-animation-iteration-count: Infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

@media (min-width: 812px) {
  :root {
    --sprite-size-multiplier: 4;
  }
}

@media (min-width: 1024px) {
  :root {
    --sprite-size-multiplier: 5;
  }
}

@media (min-width: 1366px) {
  :root {
    --sprite-size-multiplier: 7;
  }
}
