:root {
  --correct-answer-color: #08c66c;
  --incorrect-answer-color: rgb(146, 3, 3);
  --main-card-color: #08c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;

  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
}
