.progress_bar__container {
  position: relative;
  height: 100%;
  background-color: hsl(0, 0%, 35%);
  border-radius: 10px;
  border: black solid 1px;
}

.progress_bar {
  height: 100%;
  width: 0;

  border-radius: 10px;
  background-image: linear-gradient(
    -45deg,
    hsla(0, 0%, 100%, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    hsla(0, 0%, 100%, 0.2) 50%,
    hsla(0, 0%, 100%, 0.2) 75%,
    transparent 75%,
    transparent
  );
  transition: width 1s ease-out;
}

.progress_bar__progress {
  position: absolute;
  top: 50%;
  left: 50%;

  margin: 0 auto;

  transform: translate(-50%, -55%);
}

.progress_bar__value {
  font-size: 1em;
  font-weight: 600;
  color: hsl(0, 0%, 95%);
}

@media (min-width: 667px) {
  .progress_bar__value {
    font-size: 1.15em;
  }
}

@media (min-width: 736px) {
  .progress_bar__value {
    font-size: 1.3em;
  }
}

@media (min-width: 823px) {
  .progress_bar__container {
    border-radius: 25px;
    border: black solid 1.5px;
  }

  .progress_bar {
    border-radius: 25px;
  }

  .progress_bar__value {
    font-size: 1.5em;
  }
}

@media (min-width: 850px) {
  .progress_bar__value {
    font-size: 1.7em;
  }
}

@media (min-width: 1024px) {
  .progress_bar__container {
    border: black solid 2.1px;
  }

  .progress_bar__value {
    font-size: 1.9em;
  }
}

@media (min-width: 1366px) {
  .progress_bar__container {
    border-radius: 38px;
    border: black solid 2.9px;
  }

  .progress_bar__value {
    border-radius: 35px;
    font-size: 2.2em;
  }
}
